<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leader.ren.mapper.system.SysCoreRoleMapper" >
  <resultMap id="BaseResultMap" type="com.leader.ren.model.system.entity.SysCoreRole" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, name, icon, description, status, create_by, create_at, update_by, update_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from sys_core_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_core_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.leader.ren.model.system.entity.SysCoreRole" >
    insert into sys_core_role (id, code, name, 
      icon, description, status, 
      create_by, create_at, update_by, 
      update_at)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createBy,jdbcType=BIGINT}, #{createAt,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}, 
      #{updateAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.leader.ren.model.system.entity.SysCoreRole" >
    insert into sys_core_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.leader.ren.model.system.entity.SysCoreRole" >
    update sys_core_role
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.leader.ren.model.system.entity.SysCoreRole" >
    update sys_core_role
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=BIGINT},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      update_at = #{updateAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectSearchData" resultMap="BaseResultMap" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon May 07 15:46:38 CST 2018.
    -->
    select
    <include refid="Base_Column_List" />
    from sys_core_role
    where 1=1
    <if test="params != null" >
      <if test="params.filterText != null" >
        and (code like '%${params.filterText}%'
        or `name` like '%${params.filterText}%'
        or description like '%${params.filterText}%'
        )
      </if>
      <if test="params.type != null" >
        and `type` = #{params.type,jdbcType=VARCHAR}
      </if>
      <if test="params.code != null" >
        and code like '%${params.code}%'
      </if>
      <if test="params.name != null" >
        and `name` like '%${params.name}%'
      </if>
      <if test="params.icon != null" >
        and icon like '%${params.icon}%'
      </if>
      <if test="params.description != null" >
        and description like '%${params.description}%'
      </if>
      <if test="params.status != null" >
        and `status` = #{params.status,jdbcType=INTEGER}
      </if>
    </if>
    <if test="offset != null" >
      limit #{offset} , #{limit}
    </if>
  </select>

  <select id="selectSearchCount" resultType="java.lang.Long" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon May 07 15:46:38 CST 2018.
    -->
    select count(1)
    from sys_core_role
    where 1=1
    <if test="params != null" >
      <!--<if test="params.filterText != null" >
        and (code like '%${params.filterText}%'
        or `name` like '%${params.filterText}%'
        or description like '%${params.filterText}%'
        )
      </if>-->
      <if test="params.type != null" >
        and `type` = #{params.type,jdbcType=VARCHAR}
      </if>
      <if test="params.code != null" >
        and code like '%${params.code}%'
      </if>
      <if test="params.name != null" >
        and `name` like '%${params.name}%'
      </if>
      <if test="params.icon != null" >
        and icon like '%${params.icon}%'
      </if>
      <if test="params.description != null" >
        and description like '%${params.description}%'
      </if>
      <if test="params.status != null" >
        and `status` = #{params.status,jdbcType=INTEGER}
      </if>
    </if>
  </select>

  <select id="selectByIds" resultMap="BaseResultMap">
    select
    role.*
    from sys_core_role role
    where role.id in
    <foreach collection="roles" item="item" index="index" open="(" close=")" separator=",">
      #{item}
    </foreach>
  </select>

  <select id="selectLinkedRoleByUserId" resultMap="BaseResultMap">
    select
    role.*
    from sys_core_role role
    join sys_core_user_role_link link on link.role_id = role.id
    where link.user_id = #{userId,jdbcType=BIGINT} and link.status = 1
  </select>

  <select id="selectUnlinkRoleByUserIdAndType" resultMap="BaseResultMap">
    select
    role.*
    from sys_core_role role
    where role.type in
    <foreach collection="types" item="item" index="index" open="(" close=")" separator=",">
      #{item}
    </foreach>
    <if test="userId != 0">
      and role.id not in (
      select
      rolein.id
      from sys_core_role rolein
      join sys_core_user_role_link link on link.role_id = rolein.id
      where link.user_id = #{userId,jdbcType=BIGINT}
      )
    </if>
  </select>

  <insert id="insertLinkRoleAndMenu">
    insert into sys_core_relation (role_id, resource_id, resource_type, `status`)
    values (#{roleId,jdbcType=BIGINT}, #{menuId,jdbcType=BIGINT}, 'menu', 1)
  </insert>

  <insert id="deleteLinkRoleAndMenu">
    delete from sys_core_relation
    where role_id = #{roleId,jdbcType=BIGINT}
    <if test="menuId != 0">
      and resource_id = #{menuId,jdbcType=BIGINT}
    </if>
    and resource_type = 'menu'
  </insert>

  <insert id="insertLinkRoleAndElement">
    insert into sys_core_relation (role_id, resource_id, resource_type, `status`)
    values (#{roleId,jdbcType=BIGINT}, #{elementId,jdbcType=BIGINT}, 'element', 1)
  </insert>

  <insert id="deleteLinkRoleAndElement">
    delete from sys_core_relation
    where role_id = #{roleId,jdbcType=BIGINT}
    and resource_id = #{elementId,jdbcType=BIGINT}
    and resource_type = 'element'
  </insert>


  <select id="selectUserRoleSearchData" resultType="com.leader.ren.model.system.entity.SysCoreRole" >
    SELECT
    *
    FROM
    (
    SELECT
    role.*,
    'true' AS mark
    FROM
    sys_core_role role
    JOIN sys_core_user_role_link link ON link.role_id = role.id
    WHERE
    link.user_id = #{params.selUid,jdbcType=BIGINT}
    UNION
    SELECT
    role.*,
    'false' AS mark
    FROM
    sys_core_role role
    WHERE 1=1

    <if test="params.types != null" >
      and role.type in
      <foreach collection="params.types" item="item" index="index" open="(" close=")" separator=",">
        #{item}
      </foreach>
    </if>
    AND role.id NOT IN (
    SELECT
    rolein.id
    FROM
    sys_core_role rolein
    JOIN sys_core_user_role_link link ON link.role_id = rolein.id
    WHERE
    link.user_id = #{params.selUid,jdbcType=BIGINT}
    )
    ) userAllRole where 1=1
    <if test="params != null" >
      <if test="params.filterText != null" >
        and (code like '%${params.filterText}%'
        or `name` like '%${params.filterText}%'
        or description like '%${params.filterText}%'
        )
      </if>
      <if test="params.type != null" >
        and `type` = #{params.type,jdbcType=VARCHAR}
      </if>
      <if test="params.code != null" >
        and code like '%${params.code}%'
      </if>
      <if test="params.name != null" >
        and `name` like '%${params.name}%'
      </if>
      <if test="params.icon != null" >
        and icon like '%${params.icon}%'
      </if>
      <if test="params.description != null" >
        and description like '%${params.description}%'
      </if>
      <if test="params.status != null" >
        and `status` = #{params.status,jdbcType=INTEGER}
      </if>
      <if test="params.mark != null" >
        and `mark` = '${params.mark}'
      </if>
    </if>
    <if test="offset != null" >
      limit #{offset} , #{limit}
    </if>
  </select>

  <select id="selectUserRoleSearchCount" resultType="java.lang.Long" >
    SELECT
    count(1)
    FROM
    (
    SELECT
    role.*,
    'true' AS mark
    FROM
    sys_core_role role
    JOIN sys_core_user_role_link link ON link.role_id = role.id
    WHERE
    link.user_id = #{params.selUid,jdbcType=BIGINT}
    UNION
    SELECT
    role.*,
    'false' AS mark
    FROM
    sys_core_role role
    WHERE 1=1

    <if test="params.types != null" >
      and role.type in
      <foreach collection="params.types" item="item" index="index" open="(" close=")" separator=",">
        #{item}
      </foreach>
    </if>
    AND role.id NOT IN (
    SELECT
    rolein.id
    FROM
    sys_core_role rolein
    JOIN sys_core_user_role_link link ON link.role_id = rolein.id
    WHERE
    link.user_id = #{params.selUid,jdbcType=BIGINT}
    )
    ) userAllRole where 1=1
    <if test="params != null" >
      <if test="params.filterText != null" >
        and (code like '%${params.filterText}%'
        or `name` like '%${params.filterText}%'
        or description like '%${params.filterText}%'
        )
      </if>
      <if test="params.type != null" >
        and `type` = #{params.type,jdbcType=VARCHAR}
      </if>
      <if test="params.code != null" >
        and code like '%${params.code}%'
      </if>
      <if test="params.name != null" >
        and `name` like '%${params.name}%'
      </if>
      <if test="params.icon != null" >
        and icon like '%${params.icon}%'
      </if>
      <if test="params.description != null" >
        and description like '%${params.description}%'
      </if>
      <if test="params.status != null" >
        and `status` = #{params.status,jdbcType=INTEGER}
      </if>
      <if test="params.mark != null" >
        and `mark` =  '${params.mark}'
      </if>
    </if>
  </select>

  <select id="selectByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_core_role
    where code = #{code,jdbcType=VARCHAR}
  </select>

    <select id="getAllRole" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_core_role
        where status =1
    </select>


  <select id="getRoleIdByUserId" resultType="java.lang.Long">
    select
    role_id
    from sys_core_user_role_link
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
</mapper>